# Ignore python stuff
__pycache__
*.pyc

# Ignore jupyter notebook stuff
.ipynb_checkpoints
*.ipynb

# Ignore notes
*.txt

# Ignore training folder
training

# Ignore Mac stuff
.DS_Store